[user]
    name = Rafael Bicalho
    email = rbmbika@gmail.com
    # Run "git config user.email <new-email>" inside a project to override the email config

[init]
    defaultBranch = main

[core]
    editor = nvim
    pager = less -FX

[push]
    default = current

[color]
    diff = auto
    status = auto
    branch = auto

[pretty]
    pretty-format-1 = %C(green)%h%C(auto)%d %C(reset)%s %C(reset)
    pretty-format-2 = %C(green)%h%C(auto)%d %C(reset)%s %C(blue)%an %C(reset)

[alias]
    s = status --branch
    b = branch --verbose
    d = diff
    p = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
    m = merge
    c = commit
    f = fetch -p
    co = checkout
    rb = rebase
    ch = cherry-pick
    cm = commit -m
    wip = commit --no-verify -m "WIP"
    uncommit = reset HEAD^
    unstage = reset HEAD

    l = log --pretty=pretty-format-1 --decorate-refs-exclude="tags/*" -5
    lg = log --graph --pretty=pretty-format-2 --decorate-refs-exclude="tags/*" -5
    lf = log --graph --pretty=pretty-format-2 --all
    ld = log --oneline --no-merges # git ld target-branch..source-branch
