[user]
	name = Rafael Bicalho
	email = rbmbika@gmail.com
    # Run "git config user.email <new-email>" inside a project to override the email config

[init]
	defaultBranch = main

[core]
    editor = vim
    pager = less -FX

[push]
    default = current

[color]
    diff = auto
    status = auto
    branch = auto

[pretty]
    graph = %C(green)%h %C(auto)%d %C(reset)%s %C(blue)%an%C(reset)

[alias]
    s = status --branch
    b = branch --verbose
    d = diff
    p = pull
    m = merge
    c = commit
    f = fetch -p
    co = checkout
    rb = rebase
    ch = cherry-pick
    uncommit = reset HEAD^
    unstage = reset HEAD

    l = log --graph --pretty=graph --decorate-refs-exclude="tags/*" -5
    lf = log --graph --pretty=graph --all
    la = log --graph --pretty=graph --all -5