[user]
    name = Rafael Bicalho
    email = rbmbika@gmail.com
    # Run "git config user.email <new-email>" inside a project to override the email config

[init]
    defaultBranch = main

[core]
    editor = nvim
    pager = less -FX

[push]
    default = current

[color]
    diff = auto
    status = auto
    branch = auto

[pretty]
    pretty-format = %C(green)%h %C(auto)%d %C(reset)%s %C(blue)%an%C(reset)

[alias]
    s = status --branch
    b = branch --verbose
    d = diff
    p = pull
    m = merge
    c = commit
    f = fetch -p
    co = checkout
    rb = rebase
    ch = cherry-pick
    uncommit = reset HEAD^
    unstage = reset HEAD

    l = log --pretty=pretty-format --decorate-refs-exclude="tags/*" -5
    lg = log --graph --pretty=pretty-format --decorate-refs-exclude="tags/*" -5
    lf = log --graph --pretty=pretty-format --all
    la = log --graph --pretty=pretty-format --all -5
    ld = log --oneline --no-merges # git ld target-branch..source-branch
