<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.app-icons</string>

    <key>ProgramArguments</key>
    <array>
        <string>python3</string>
        <string>/Users/rbika/.dotfiles/app-icons/app-icons.py</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
